<div id="navbar" class="bg-light shadow-sm">
    <div class="nav-title">
        <a class="fs-3 py-0" href="/parks?page=1">🌲 National Parks Finder</a>
    </div>

    <div class="nav-buttons mt-0">
        <ul class="navbar-list">
            <li class="navbar-list-element"><a class="navbar-link" id="nav-home" href="/parks?page=1">Home</a></li>
            <li class="navbar-list-element"><a class="navbar-link" id="nav-map" href="/map">Map</a></li>
            <li class="navbar-list-element"><a class="navbar-link" id="nav-about" href="/about">About</a></li>
            <% if (!currentUser) { %>
                <li class="navbar-list-element"><a class="navbar-link" href="/login">Login</a></li>   
                <li class="navbar-list-element"><a class="navbar-link" href="/register">Register</a></li>
            <% } else { %> 
                <li class="navbar-list-element"><a class="navbar-link" href="/logout">Logout</a></li>
            <% } %> 
        </ul>    
    </div>
</div>

<script>
    let prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
    let currentScrollPos = window.pageYOffset;
    if (prevScrollpos < currentScrollPos && currentScrollPos > 40) {
        document.getElementById("navbar").style.top = "-42px";
    } else if (currentScrollPos < 65) {
        document.getElementById("navbar").style.top = "0";
        document.getElementById("navbar").style.zIndex = "99";
    }
    prevScrollpos = currentScrollPos;
}
</script>